p {
color: black;
width: 650px;
padding: 20px;
font-size: 16px
}
h1 {
    font-family: "GabrielaVukojav";
    src:url("Gabriela_Vukoja_projektni_zadatak1.ttf"); 
}
body {
	background-image: url(slike/pozadina6.jpg);
}
h1, h2 {
	color:#31144a;
	padding: 8px;	
}
img {height:400px;}
a{
	padding: 20px;
	}
img{
	padding: 25px;
}
video{
	padding: 25px;
	height:600px;
}	
p {
	font-size: 20px
}
	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="index.html" href="#homepage">Home</a></li>
  <li><a href="video.html">video</a></li>
  <li><a href="o_meni.html">o meni</a></li>
  <li><a href="vjezbe.html">vjezbe</a></li>
</ul>
